<app-search-doctors [global]="global" [doctors]="selectedDoctors" (getDoctorsSerp)="updateDoctorList($event)"></app-search-doctors>
<div *ngIf="showHomepage" class="container container-wrapper">
    <article class="explore" *ngIf="!hideExplore">
      <h3 class="sf-ui-semibold f-27">Explore</h3>
      <div class="d-none d-md-block d-lg-block">
          <div class="row explore__boxes">
              <div *ngFor="let exp of explore" class="col-md-1 explore__box">
                <img class="cursor-pointer" (click)="filterSearch(exp.search_text)" src="{{exp.image_url}}" />
                <p class="explore__text--overlay white sf-ui-semibold f-14">{{exp.search_text}}</p>
              </div>
            </div>
      </div>
      <div id="container" class="d-block d-sm-none d-md-none d-lg-none">

         <div class=""
            ng2-carouselamos
            class="slides-wrapper"
            [items]="explore"
            [width]="300"
            [$item]="item"
          
          >
          </div> 

          <ng-template #item let-item let-i="index">
              <div class="items-filter">
                  <a href="javascript:void(0);" (click)="filterSearch(item.search_text)">
                      <img class="cursor-pointer mobile-filter" src="{{item.image_url}}" />
                      <p class="explore__text--overlay white sf-ui-semibold f-14">{{item.search_text}}</p>
                  </a>
                  
              </div>
          </ng-template>

      </div>
    </article>
    
    <!-- desktop version -->
    <article *ngFor="let category of categories" class="doctors d-none d-md-block d-lg-block">
      <div *ngIf="categories.length > 0" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
            <h1 class="h3 f-26 sf-ui-semibold black">{{category.title}}</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2 mt-2">
              <a class="f-17 sf-ui-regular view-all" (click)="viewAll(category)" *ngIf="categories.length > 6" >View All</a>
            </div>
          </div>
        

        </div>
        <h4 *ngIf="categories.length > 0" class="h5 text-muted f-20">{{category.title}}</h4>
        <div *ngIf="categories.length > 0" class="row doctors__boxes">
          <div id="container">
              <div class="doctors__box"
                ng2-carouselamos
                class="slides-wrapper"
                [items]="category.doctors"
                [width]="500"
                [$prev]="prev"
                [$next]="next"
                [$item]="item"
                
              >
              </div> 
            
        
            <ng-template #prev>
              <img *ngIf="categories.length > 5" class="width-30 d-none d-sm-block cursor-pointer" src="assets/images/icons/arrow-left.png" id="left" />
            </ng-template>
            <ng-template #next>
              <img  *ngIf="categories.length > 5" class="width-30 d-none d-sm-block cursor-pointer" src="assets/images/icons/arrow-right.png" id="right" />
            </ng-template>
            <ng-template #item let-item let-i="index">
                <div class="items">
                  <!-- <a routerLink="/{{ doctor.rowTitles.title.toLowerCase().replace(' ', '_')}}/{{item.FirstName.toLowerCase().replace(' ', '_')}}_{{item.LastName.toLowerCase().replace(' ', '_')}}/{{item.DoctorID}}"> -->
                  <!-- <a routerLink="/{{ toLowerCaseAndChange(item.Title)}}/{{toLowerCaseAndChange(item.FirstName)}}_{{toLowerCaseAndChange(item.LastName)}}/{{item.DoctorID}}"> -->
                
                  <a (click)="redirectToDetailsView(content, item)">
                  <!-- <a (click)="redirectToDetailsView('')"> -->
                    <div class="container1">
                    <img width="175" height="250" src="assets/images/icons/Doc 4.png" />
                    </div>
                    <div class="average-time sf-ui-regular f-13 text-muted">{{item.AverageWaitTime}}m</div>
                    <div class="doctor_text--overlay text-left">
                      <p><span class="f-15 title-doc sf-ui-semibold">{{item.Title}}</span>&nbsp;<span class="white f-15 sf-ui-semibold">{{item.FirstName}}</span></p>
                      <p class="f-15 sf-ui-semibold white">{{item.LastName}}</p>
                      <p class="f-15 sf-ui-regular white">{{item.Price}}</p>
                      <p><span class="f-15 white">{{item.Rating}}</span> &nbsp; <i class="fa fa-star fa-lg margin-top-5 star"
                          aria-hidden="true"></i> &nbsp; <span class="f-10 white margin-right-2">{{item.TotalReview}}</span>
                        <span class="f-10 white" *ngIf="item.TotalReview == 1">Review</span>
                        <span class="f-10 white" *ngIf="item.TotalReview !== 1">Reviews</span>
                      </p>
                    </div>
                    <!-- </a> -->
                    </a>
                    <div (click)="open(content, item, item.Title.toLowerCase().replace(' ', '_') + '/' + item.FirstName.toLowerCase().replace(' ', '_') + '_' +  item.LastName.toLowerCase().replace(' ', '_') + '/' +  item.DoctorID, item)" class="arrow-up f-10"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
                    <button (click)= "likecount()" class="arrow-like" src="assets/images/icons/twitter.png" id ="right"></button>
                </div>
            </ng-template>
          </div>
        </div>
    </article>
    <!-- desktop version -->


    <!-- mobile only -->
    <article *ngFor="let category of categories" class="doctors d-block d-sm-none d-md-none d-lg-none">
        <div *ngIf="categories.length > 0" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
            <h1 class="h3 f-26 sf-ui-semibold black">{{category.title}}</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
              <div class="btn-group mr-2 mt-2">
                <a class="f-17 sf-ui-regular view-all" (click)="viewAll(category)" *ngIf="category.length > 6" >View All</a>
              </div>
            </div>
          </div>
          <h4 *ngIf="categories.length > 0" class="h5 text-muted f-20">{{category.title}}</h4>
          <div *ngIf="categories.length > 0" class="row doctors__boxes">
            <div id="container">
                 <div class="doctors__box"
                  ng2-carouselamos
                  class="slides-wrapper"
                  [items]="category.doctors"
                  [width]="200"
                  [$prev]="prev"
                  [$next]="next"
                  [$item]="item"
                 
                >
                </div>
               
          
              <ng-template #prev>
                <img *ngIf="category.doctors.length > 5" class="width-30 d-none d-sm-block cursor-pointer" src="assets/images/icons/arrow-left.png" id="left" />
              </ng-template>
              <ng-template #next>
                <img  *ngIf="category.doctors.length > 5" class="width-30 d-none d-sm-block cursor-pointer" src="assets/images/icons/arrow-right.png" id="right" />
              </ng-template>
              <ng-template #item let-item let-i="index">
                  <div class="items">
                      <!-- <a routerLink="/{{ doctor.title.toLowerCase().replace(' ', '_')}}/{{item.FirstName.toLowerCase().replace(' ', '_')}}_{{item.LastName.replace(' ', '_')}}/{{item.DoctorID}}"> -->
                        <!-- <a routerLink="/{{ toLowerCaseAndChange(item.Title)}}/{{toLowerCaseAndChange(item.FirstName)}}_{{toLowerCaseAndChange(item.LastName)}}/{{item.DoctorID}}"> -->
                      <img class="homepage-thumbnail" src="assets/images/icons/Doc 4.png" />
                      <div class="average-time sf-ui-regular f-13 text-muted">{{item.AverageWaitTime}}m</div>
                      <div class="doctor_text--overlay text-left">
                          <p><span class="f-15 title-doc sf-ui-semibold">{{item.Title}}</span>&nbsp;<span class="white f-15 sf-ui-semibold">{{item.FirstName}}</span></p>
                          <p class="f-15 sf-ui-semibold white">{{item.LastName}}</p>
                          <p class="f-15 sf-ui-regular white">{{item.Price}}</p>
                          <p><span class="f-15 white">{{item.Rating}}</span> &nbsp; <i class="fa fa-star fa-lg margin-top-5 star" aria-hidden="true"></i> &nbsp; <span class="f-10 white margin-right-2">{{item.TotalReview}}</span>
                            <span class="f-10 white" *ngIf="item.TotalReview == 1">Review</span> 
                            <span class="f-10 white" *ngIf="item.TotalReview !== 1">Reviews</span> 
                          </p>
                      </div>
                      <!-- </a> -->
                      <div (click)="open(content, item, doctor.rowTitles.title.toLowerCase().replace(' ', '_') + '/' + item.FirstName.toLowerCase().replace(' ', '_') + '_' +  item.LastName.toLowerCase().replace(' ', '_') + '/' +  item.DoctorID)" class="arrow-up f-10"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
                  </div>
              </ng-template>
            </div>
          </div>
      </article>
    <!-- mobile only -->
    <article class="text-center invalid-status-wrapper" *ngIf="noFoundData" >
      <p class="f-35 no-found sf-ui-semibold">No Doctor Found.</p>
    </article>
</div>
<div *ngIf="showViewAll" class="container">
  <app-view-all [doctors]="viewAllDoctor"></app-view-all>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="row margin-top-15">
      <div class="col margin-left-20">
          <p class="bold text-muted sf-ui-regular f-21">Share</p>
          <p class="bold f-12 sf-ui-semibold">{{selectedDoctor}}</p>
      </div>
      <div class="col margin-top-5">
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
      </div>
    </div>
    <div class="modal-body text-center">
      <form>
          <button (click)="resetCopyText('fb', selectedDoctorUrl)" type="button" class="btn btn-outline-secondary social-btn sf-ui-semibold f-14">
              <img class="icon-img social-media-icon" src="assets/images/icons/facebook.png" >&nbsp;Facebook</button>
          <button (click)="resetCopyText('whatsapp', selectedDoctorUrl)" type="button" class="btn btn-outline-secondary social-btn sf-ui-semibold f-14"><i class="fa fa-whatsapp whatsapp" aria-hidden="true"></i>&nbsp;Whatsapp</button>
          <button (click)="resetCopyText('twitter', selectedDoctorUrl)" type="button" class="btn btn-outline-secondary social-btn sf-ui-semibold f-14"><i class="fa fa-twitter twitter" aria-hidden="true"></i>&nbsp;Twitter</button>
          <button (click)="resetCopyText('mail', selectedDoctorUrl)" type="button" class="btn btn-outline-secondary social-btn sf-ui-semibold f-14"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email</button>
          <div class="copy">
              <input class="sf-ui-regular f-15 long-value-input" #userinput type="text" value="{{selectedDoctorUrl}}">
              <button (click)="copyInputMessage(userinput)" value="click to copy" class="f-15 sf-ui-semibold" type="button">{{copyText}}</button>
          </div>
          <div *ngIf="socialMessage !== ''" class="alert alert-success" role="alert">
            {{socialMessage}}
          </div>
        </form>
    </div>
  </ng-template>