.modal-header {
    border: 0;
}

#container {
    width: 100%;
    padding: 0;
}

#thumbnail {
    padding-bottom: 20px;
}

.doctor_text--overlay {
    position: absolute;
    top: 175px;
    background: linear-gradient( to top,black, rgba(255, 255, 255, 0) );
    width: 100%;
    bottom: 0;
    border-radius: 10px;
    padding-left: 10px;
    left: 0px !important;
}


@media (max-width: 575.98px) {
    .items-filter {
        margin: 0;
        position: relative;
    }

    .explore__text--overlay {
        position: absolute;
        top: 95px;
        left: 15px;
    }
    .doctors__boxes {
        padding: 0 15px;    
    }

    .items {
        margin: 0 5px;
        position: relative;
        
    }

    .container1 {
        padding-top: 71.0530%;/* Aspect ratio*/
    }
    
    .social-btn {
        width: 48%;
        margin-top: 5px;
    }
 }

 

 @media only screen and (max-width : 480px) { 
    .homepage-thumbnail {
        width: 185px;
        height: 245px;
    }

    .doctor_text--overlay {
        position: absolute;
        top: 140px;
        left: 0;
        background: linear-gradient( to top,black, rgba(255, 0, 0, 0) );
        padding-left: 10px;
        width: 100%;
        border-radius: 10px;
        bottom: 0;
    }

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 375px) {
    .arrow-up {
        position: absolute;
        top: 180px;
        left: 120px;
        background-color: #0076ff;
        border-radius: 20px;
        padding: 5px 8px;
        color: #fff;
        cursor: pointer;
    }
   
    .average-time {
        position: absolute;
        top: 15px;
        left: 112px;
        background-color: #f8f8f8;
        padding: 5px 10px;
        border-radius: 10px;
    }

    .homepage-thumbnail {
        width: 167px;
        height: 230px;
    }

    .doctor_text--overlay {
        position: absolute;
        top: 130px;
        left: 0;
        background: linear-gradient( to top,black, rgba(255, 0, 0, 0) );
        padding-left: 10px;
        width: 100%;
        padding-bottom: 10px;
        border-radius: 10px;
        bottom: 0;
    }
}

.arrow-like {
    position: absolute;
    top: 210px;
    left: 135px;
    background-color: #0076ff;
    border-radius: 50px;
    padding: 5px 8px;
    color: #fff;
    cursor: pointer;
}