.thumbnail-view-all {
    width: 185px;
    height: 230px;
}

.doctor_text--overlay {
    position: absolute;
    top: 130px;
    left: 25px;
}

.average-time {
    position: absolute;
    top: 15px;
    left: 150px;
    background-color: #f8f8f8;
    padding: 5px 10px;
    border-radius: 10px;
}

.arrow-up {
    position: absolute;
    top: 180px;
    left: 165px;
    background-color: #0076ff;
    border-radius: 20px;
    padding: 5px 8px;
    color: #fff;
    cursor: pointer;
}

.doctor_text--overlay {
    position: absolute;
    top: 132px;
    background: linear-gradient( to top,black, rgba(255, 0, 0, 0) );
    width: 97%;
    bottom: 0;
    border-radius: 10px;
    padding-left: 10px;
    left: 15px
}


@media only screen and (max-width : 480px) { 
    .average-time-mobile {
        position: absolute;
        top: 15px;
        left: 130px;
        background-color: #f8f8f8;
        padding: 5px 10px;
        border-radius: 10px;
    }

    .arrow-up-mobile {
        position: absolute;
        top: 225px;
        left: 145px;
        background-color: #0076ff;
        border-radius: 20px;
        padding: 5px 8px;
        color: #fff;
        cursor: pointer;
    }

    .thumbnail-mobile {
        width: 180px;
        max-height: 268px;
    }

    .doctors__box {
        margin-right: 0;
    }

    .doctors__boxes {
        width: 100%;
    }

    .doctors__box {
        float: left;
        margin-right: 5px;
        margin-left: 5px;
        max-height: 270px;
    }

    .doctor_text--overlay {
        background: linear-gradient( to top,black, rgba(255, 0, 0, 0) );
        padding-left: 10px;
        width: 100%;
        border-radius: 10px;
        bottom: 0;
        position: absolute;
        top: 172px;
        left: 0;
    }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 375px) {
    .thumbnail-view-all {
        width: 100%;
        height: 100%;
    }

    .doctors__box {
        margin-right: 0;
    }

    .thumbnail-mobile {
        width: 167px;
        max-height: 248px;
    }

    .doctor_text--overlay {
        background: linear-gradient( to top,black, rgba(255, 0, 0, 0) );
        padding-left: 10px;
        width: 100%;
        border-radius: 10px;
        bottom: 0;
        position: absolute;
        top: 150px;
        left: 0;
    }

    .arrow-up-mobile {
        position: absolute;
        top: 205px;
        left: 130px;
        background-color: #0076ff;
        border-radius: 20px;
        padding: 5px 8px;
        color: #fff;
        cursor: pointer;
    }

    .average-time-mobile {
        position: absolute;
        top: 15px;
        left: 117px;
        background-color: #f8f8f8;
        padding: 5px 10px;
        border-radius: 10px;
    }

    .doctors__box {
        float: left;
        max-height: 248px;
    }
}