<!-- desktop only -->
<article class="doctors d-none d-md-block d-lg-block">
    <div *ngIf="doctors.doctors.length > 0" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
    <h1 class="h3 f-26 sf-ui-semibold black">{{doctors.title}}</h1>
    </div>
    <!-- <h4  class="h5 text-muted f-20">{{doctors.subtitle}}</h4> -->
    <div class="row doctors__boxes">
      <div *ngFor="let doc of doctors.doctors" class="col-md-2 doctors__box">
          <a routerLink="/{{ doctors.title.toLowerCase().replace(' ', '_')}}/{{doc.FirstName.toLowerCase().replace(' ', '_')}}_{{doc.LastName.toLowerCase().replace(' ', '_')}}/{{doc.DoctorID}}">
        <img class="thumbnail-view-all" src="assets/images/icons/Image 01.jpg" />
        <div class="average-time sf-ui-regular f-13 text-muted average-time-mobile">{{doc.AverageWaitTime}}m</div>
        <div class="doctor_text--overlay text-left">
            <p><span class="f-15 title-doc sf-ui-semibold">{{doc.Title}}</span>&nbsp;<span class="white f-15 sf-ui-semibold">{{doc.FirstName}}</span></p>
            <p class="f-15 sf-ui-semibold white">{{doc.LastName}}</p>
            <p class="f-15 sf-ui-regular white">{{doc.Price}}</p>
            <p><span class="f-15 white">{{doc.Rating}}</span> &nbsp; <i class="fa fa-star fa-lg margin-top-5 star" aria-hidden="true"></i> &nbsp; <span class="f-10 white margin-right-2">{{doc.TotalReview}}</span> 
              <span class="f-10 white" *ngIf="doc.TotalReview == 1">Review</span>
              <span class="f-10 white" *ngIf="doc.TotalReview !== 1">Reviews</span> 
            </p>
        </div>
      </a>
        <div (click)="open(content, doc, doctors.title.toLowerCase().replace(' ', '_') + '/' + doc.FirstName.toLowerCase().replace(' ', '_') + '_' +  doc.LastName.toLowerCase().replace(' ', '_') + '/' +  doc.DoctorID)" class="arrow-up f-10 arrow-up-mobile"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
      </div>
    </div>
</article>
<!-- desktop only -->
<!-- mobile only -->
<article class="doctors d-block d-sm-none d-md-none d-lg-none container-wrapper">
    <div *ngIf="doctors.doctors.length > 0" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center">
        <h1 class="h3 f-26 sf-ui-semibold black">{{doctors.title}}</h1>
        </div>
        <!-- <h4  class="h5 text-muted f-20">{{doctors.subtitle}}</h4> -->
        <div class="doctors__boxes">
          <div *ngFor="let doc of doctors.doctors" class="doctors__box">
            <a routerLink="/{{ doctors.title.toLowerCase().replace(' ', '_')}}/{{doc.FirstName.toLowerCase().replace(' ', '_')}}_{{doc.LastName.toLowerCase().replace(' ', '_')}}/{{doc.DoctorID}}">
                <img class="thumbnail-mobile" src="assets/images/icons/Image 01.jpg" />
                <div class="average-time sf-ui-regular f-13 text-muted average-time-mobile">{{doc.AverageWaitTime}}m</div>
                <div class="doctor_text--overlay text-left">
                    <p><span class="f-15 title-doc sf-ui-semibold">{{doc.Title}}</span>&nbsp;<span class="white f-15 sf-ui-semibold">{{doc.FirstName}}</span></p>
                    <p class="f-15 sf-ui-semibold white">{{doc.LastName}}</p>
                    <p class="f-15 sf-ui-regular white">{{doc.Price}}</p>
                    <p><span class="f-15 white">{{doc.Rating}}</span> &nbsp; <i class="fa fa-star fa-lg margin-top-5 star" aria-hidden="true"></i> &nbsp; <span class="f-10 white margin-right-2">{{doc.TotalReview}}</span> 
                      <span class="f-10 white" *ngIf="doc.TotalReview == 1">Review</span> 
                      <span class="f-10 white" *ngIf="doc.TotalReview !== 1">Reviews</span> 
                    </p>
                </div>
            </a>
            <div (click)="open(content, doc, doctors.title.toLowerCase().replace(' ', '_') + '/' + doc.FirstName.toLowerCase().replace(' ', '_') + '_' +  doc.LastName.toLowerCase().replace(' ', '_') + '/' +  doc.DoctorID)" class="arrow-up f-10 arrow-up-mobile"><i class="fa fa-arrow-up" aria-hidden="true"></i></div>
          </div>
        </div>
</article>
<!-- mobile only -->

<article class="text-center invalid-status-wrapper" >
  <p class="f-35 no-found sf-ui-semibold">No Doctor Found.</p>
</article>
<ng-template #content let-c="close" let-d="dismiss">
  <div class="row margin-top-15">
    <div class="col margin-left-20">
        <p class="bold text-muted sf-ui-regular f-21">Share</p>
        <p class="bold f-12 sf-ui-semibold">{{selectedDoctor}}</p>
    </div>
    <div class="col margin-top-5">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
    </div>
  </div>
  <div class="modal-body text-center">
    <form>
        <button (click)="resetCopyText('fb', selectedDoctorUrl)" type="button" class="btn btn-outline-secondary social-btn sf-ui-semibold f-14">
            <img class="icon-img social-media-icon" src="assets/images/icons/facebook.png" >&nbsp;Facebook</button>
        <button (click)="resetCopyText('whatsapp', selectedDoctorUrl)" type="button" class="btn btn-outline-secondary social-btn sf-ui-semibold f-14"><i class="fa fa-whatsapp whatsapp" aria-hidden="true"></i>&nbsp;Whatsapp</button>
        <button (click)="resetCopyText('twitter', selectedDoctorUrl)" type="button" class="btn btn-outline-secondary social-btn sf-ui-semibold f-14"><i class="fa fa-twitter twitter" aria-hidden="true"></i>&nbsp;Twitter</button>
        <button (click)="resetCopyText('mail', selectedDoctorUrl)" type="button" class="btn btn-outline-secondary social-btn sf-ui-semibold f-14"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email</button>
        <div class="copy">
            <input class="sf-ui-regular f-15 long-value-input" #userinput type="text" value="{{selectedDoctorUrl}}">
            <button (click)="copyInputMessage(userinput)" value="click to copy" class="f-15 sf-ui-semibold" type="button">{{copyText}}</button>
        </div>
        <div *ngIf="socialMessage !== ''" class="alert alert-success" role="alert">
          {{socialMessage}}
        </div>
      </form>
  </div>
</ng-template>