.detail-wrapper {
    margin-top: 65px;
}

.fixed {
    position: fixed;
}

.padding-right-100 {
    padding-right: 100px;
}

.float-left {
    float: left;
}

.margin-right-10 {
    margin-right: 10px;
}

.clear-both {
    clear: both;
}

.arrow-up-recommend {
    background-color: #0076ff;
    border-radius: 25px;
    padding: 8px 15px;
    color: #fff;
    cursor: pointer;
    width: 50px;
    font-size: 23px;
    float: left;
    margin-right: 15px;
}

.padding-top-10 {
    padding-top: 10px;
}

.icon-img {
    width: 18px;
    margin-right: 5px;
}

.profile-picture {
    width: 42%;
}

.refer-doctor {
    width: 35px;
    float: left;
    margin-right: 10px;
    margin-top: 5px;
}

.location-text {
    padding: 2px 0;
}

.doctors__box{
    margin-right: 10px;
}

.doctors__boxes--wrap {
    width: 1000px;
    overflow-x: auto;
}

.left-15 {
    left: 15px;
}

.left-145 {
    left: 145px;
}

.dot {
    margin: 0 4px; /* Space for the dot */
}

#carousel {
    width: 400px;
    overflow: visible;
    white-space:nowrap;
}

#carousel .slide {
    display: inline-block;
}

.scrollableContainer {
    width: 500px;
    height: 200px;
}
.scrollableContainer .content {
    border: 2px solid #999;
    border-radius: 5px;
    height: 100px;
    width: 500px;
    overflow: hidden;
}
.scrollableContainer .scrollableContent {
    font-size: 30px;
    margin-left: 0px;
    width: 1000px;
}
.scrollableContainer .scrollableContent .item {
    font-size: 50px;
    font-weight: bold;
    border: 5px solid grey;
    border-radius: 5px;
    width: 70px;
    height: 70px;
    margin: 10px;
    text-align: center;
    float: left;
}
.scrollableContainer .slider {
    width: 300px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}

.scrollableContainer .slider .ui-slider-handle.ui-state-default.ui-corner-all {
    border: 4px solid #999;
    border-radius: 50%;
    cursor: pointer;
}

.scrollableContainer .slider.ui-slider.ui-slider-horizontal.ui-widget.ui-widget-content {
    background: #ddd;
}

.rating-stars {
    width: 84px;
    margin-top: -4.5px;
    margin-left: 3px;
}

.book-btn {
    background-color: #0076ff;
    border-color: #0076ff;
}

.left-box {
    width: 50%;
    float: left;
}

.rigth-box {
    width: 44%;
    float: right;
}

.margin-auto {
    margin: auto;
}
.sm-rating-stars {
    width: 55px;
}

.reset-p {
    padding: 0;
    margin: 0;
    line-height: 1;
}

.fixed-social-media-icon {
    width: 35px;
}

.fixed-social-media-icon-fb {
    width: 40px
}

.fixed-heart {
    font-size: 10px;
    color: red
}

@media (max-width: 575.98px) {
    .profile-picture-mobile {
        width: 100%;
        border-radius: 0;
        position: relative;
        min-height: 620px;
    }
    
    .detail-wrapper {
        margin-top: 10px;
    }

    .text-overlay-mobile {
        position: absolute;
        top: 380px;
        padding: 0 15px;
        background: linear-gradient( to top,black, rgba(255, 0, 0, 0) );
        height: 240px;
        width: 100%;
    }

    .text-overlay-mobile-no {
        position: absolute;
        top: 420px;
        padding: 0 15px;
        background: linear-gradient( to top,black, rgba(255, 0, 0, 0) );
        height: 200px;
        width: 100%;
    }

    .text-wrap {
        word-wrap: break-word;
    }

    .hr-mobile {
        border: solid 2px #fff;
        border-radius: 10px;
    }

    .icon-img[_ngcontent-c10] {
        width: 23px;
        color: #f8f8f8;
    }

    .mobile-header {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .f-right {
        float: right;
    }

    .refer-doctor-mobile {
        width: 50px;
    }

    .margin-top-28 {
        margin-top: 28px;
    }

}