<app-search-doctors></app-search-doctors>
  <!-- mobile view -->
  <div  id="for-mobile" class="d-block d-sm-none d-md-none d-lg-none container-wrapper">
    <div *ngIf="doctor">
        <img class="profile-picture-mobile" src="assets/images/icons/Image 01.jpg">
        <div class="row mobile-header">
          <div class="col-6 margin-top-28">
              <img (click)="goBack()" class="margin-left-20 width-20" src="assets/images/icons/Mobile-BackButton.png" />
          </div>
          <div class="col-6 margin-top-20">
              <div ><img (click)="open(content, doctor, doctor.Speciality.toLowerCase().replace(' ', '_') + '/' + doctor.FirstName.toLowerCase().replace(' ', '_') + '_' +  doctor.LastName.toLowerCase().replace(' ', '_') + '/' +  doctor.DoctorID)" class="refer-doctor-mobile cursor-pointer f-right" src="assets/images/icons/RecommendArrow.png"></div>
          </div>  
        </div>
        <div *ngIf="doctor.SLMCNumber && doctor.Awards" class="text-overlay-mobile">
            <p><span class="bold sf-ui-semibold f-12 white">{{doctor.speciality}}</span> 
              <span class="dot sf-ui-regular f-12 white">&#9679;</span> 
              <span class="sf-ui-regular f-12 white">{{doctor.SpecialityDescription}}</span>
            </p>
            <p class="h3 sf-ui-semibold f-25 white text-wrap p-reset">
              {{doctor.title}}&nbsp;{{doctor.firstName}}
            </p>
            <p class="h3 sf-ui-semibold f-25 white text-wrap p-reset">
                {{doctor.lastName}}
            </p>
            <hr class="white hr-mobile">  
            <p class="sf-ui-light f-16 location-text  white"><img class="icon-img" src="assets/images/icons/Mobile-map-pin.png" >{{doctor.residence}}, {{doctor.residence.country}}</p>
            <p class="sf-ui-light f-16 location-text  white"><img class="icon-img" src="assets/images/icons/Mobile-award.png" >{{doctor.Awards}}</p>
            <p class="sf-ui-light f-16 location-text  white"><img class="icon-img" src="assets/images/icons/check-circle.png" >{{doctor.SLMCNumber}}</p>
            <br>
        </div>

        <div *ngIf="!doctor.SLMCNumber" class="text-overlay-mobile-no">
            <p><span class="bold sf-ui-semibold f-12 white">{{doctor.speciality}}</span> 
              <span class="dot sf-ui-regular f-12 white">&#9679;</span> 
              <span class="sf-ui-regular f-12 white">{{doctor.specialityDescription}}</span>
            </p>
            <p class="h3 sf-ui-semibold f-25 white text-wrap p-reset">
              {{doctor.title}}&nbsp;{{doctor.firstName}}
            </p>
            <p class="h3 sf-ui-semibold f-25 white text-wrap p-reset">
                {{doctor.lastName}}
            </p>
            <hr class="white hr-mobile">  
            <p class="sf-ui-light f-16 location-text  white"><img class="icon-img" src="assets/images/icons/Mobile-map-pin.png" >{{doctor.CityOfResidence}}, {{doctor.CountryOfResidence}}</p>
            <p class="sf-ui-light f-16 location-text  white"><img class="icon-img" src="assets/images/icons/Mobile-award.png" >{{doctor.Awards}}</p>
            <br>
        </div>

        <div *ngIf="!doctor.Awards" class="text-overlay-mobile-no">
            <p><span class="bold sf-ui-semibold f-12 white">{{doctor.speciality}}</span> 
              <span class="dot sf-ui-regular f-12 white">&#9679;</span> 
              <span class="sf-ui-regular f-12 white">{{doctor.SpecialityDescription}}</span>
            </p>
            <p class="h3 sf-ui-semibold f-25 white text-wrap p-reset">
              {{doctor.title}}&nbsp;{{doctor.firstName}}
            </p>
            <p class="h3 sf-ui-semibold f-25 white text-wrap p-reset">
                {{doctor.lastName}}
            </p>
            <hr class="white hr-mobile">  
            <p class="sf-ui-light f-16 location-text  white"><img class="icon-img" src="assets/images/icons/Mobile-map-pin.png" >{{doctor.CityOfResidence}}, {{doctor.CountryOfResidence}}</p>
            <p class="sf-ui-light f-16 location-text  white"><img class="icon-img" src="assets/images/icons/check-circle.png" >{{doctor.SLMCNumber}}</p>
            <br>
        </div>
    </div>
  </div>
  <!-- mobile view -->
<div class="container detail-wrapper" *ngIf="doctor">
  <div class="row">
    <div class="col-md-5">
        <!-- desktop view -->
        <div class="d-none d-md-block d-lg-block">
            <h2 class="h3 sf-ui-semibold f-37">{{doctor.title}}&nbsp;{{doctor.firstName}}&nbsp;{{doctor.lastName}}</h2>
            <p>
              <span class="sf-ui-medium f-19">{{doctor.speciality}}</span> 
              <span class="dot sf-ui-light f-19">&#9679;</span> 
              <span class="sf-ui-light f-19">{{doctor.SpecialityDescription}}</span>
            </p>
            <hr>  
              <p class="sf-ui-light f-16 location-text"><img class="icon-img" src="assets/images/icons/map-pin.png" >{{doctor.CityofResidence}}, {{doctor.CountryofResidence}}</p>
              <p *ngIf="doctor.Awards" class="sf-ui-light f-16 location-text"><img class="icon-img" src="assets/images/icons/award.png" >{{doctor.qualification}}</p>
              <p *ngIf="doctor.SLMCNumber" class="sf-ui-light f-16 location-text"><img class="icon-img" src="assets/images/icons/check-circle.png" >{{doctor.registration.number}}</p>
            <hr>
        </div>
        <!-- desktop view -->
        <p *ngIf="doctor.SpotText" class="sf-ui-light f-17" >{{doctor.SpotText}}</p>
        <hr *ngIf="doctor.SpotText">
        <p class="bold mt-3 sf-ui-medium f-19">Professional Statement</p>
        <p class="mt-3 sf-ui-light f-16">{{doctor.Statement}}</p>
        <hr>
        <p class="bold mt-3 sf-ui-medium f-19">Education</p>
        <p class="mt-3 sf-ui-light f-16">{{doctor.education}}</p>
        <hr>
        <p class="bold mt-3 sf-ui-medium f-19">Practicing Locations</p>
        <p class="sf-ui-light f-16" [class.mt-3]="i === 0" *ngFor="let location of doctor.practiceLocations; let i=index">{{location.title}}</p>
        <hr>
        <p class="bold mt-3 sf-ui-medium f-19">Hometown</p>
        <p class="mt-3 sf-ui-light f-16">{{doctor.Hometown}}</p>
        <hr>
        <p class="bold mt-3 sf-ui-medium f-19">Board of Certification</p>
        <p class="mt-3 sf-ui-light f-16">{{doctor.qualification}}</p>
        <hr>
        <p class="bold mt-3 sf-ui-medium f-19">Languages Spoken</p>
        <p class="mt-3 sf-ui-light f-16">{{doctor.languages}}</p>
        <hr>
        <p class="bold mt-3">{{doctor.length}} MANNER <img *ngIf="doctor.rating > 0" class="rating-stars" src="assets/images/icons/stars-{{doctor.rating}}.png" ></p>
        <div class="mt-3" *ngFor="let testi of doctor.TestimonialList; let i=index">
          <div class="testi-head">
              <div class="float-left margin-right-10">
                  <img width="60" src="{{testi.profile_pic}}">
                </div>
                <div class="padding-top-5">
                  <p class="sf-ui-semibold f-16">{{testi.name}}</p>
                  <p class="sf-ui-light f-14">{{testi.date}}</p>
                </div>
          </div>
          <div class="testi-content clear-both sf-ui-light f-16 pt-2">
            {{testi.text}}
          </div>
        </div>
        <hr>
        <p  class="bold mt-3 sf-ui-medium f-19">What I think about oDoc</p>
        <p *ngIf="doctor.thoughtsOnOdoc != null" class="mt-3 sf-ui-light f-16">{{doctor.thoughtsOnOdoc}}</p>
        <hr *ngIf="doctor.thoughtsOnOdoc != null">
        <p class="bold mt-3">{{doctor.SimilarDoctorsTitleString}}</p>
          <div *ngIf="doctor.length > 0" class="row doctors__boxes mt-3">
              <div id="container-detail" class="col-md-12">
                  <div class="doctors__box"
                    ng2-carouselamos
                    class="slides-wrapper"
                    [items]="doctor.SimilarDoctors"
                    [width]="300"
                    [$prev]="prev"
                    [$next]="next"
                    [$item]="item"
                    
                  >
                  </div>

                  <ng-template #prev>
                      <img *ngIf="doctor.SimilarDoctors.length > 2" class="d-none d-md-block d-lg-block width-30 d-none d-sm-block cursor-pointer" src="assets/images/icons/arrow-left.png" id="left" />
                    </ng-template>
                    <ng-template #next>
                      <img  *ngIf="doctor.SimilarDoctors.length > 2" class="d-none d-md-block d-lg-block width-30 d-none d-sm-block cursor-pointer" src="assets/images/icons/arrow-right.png" id="right" />
                    </ng-template>
                
            
                <ng-template #item let-item let-i="index">
            
                    <div class="items">
                        <a routerLink="/{{ doctor.speciality.toLowerCase().replace(' ', '_')}}/{{item.FirstName.toLowerCase().replace(' ', '_')}}_{{item.LastName.toLowerCase().replace(' ', '_')}}/{{item.DoctorID}}">
                        <img width="185" height="230" src="{{item.PRO_PIC}}" />
                        <div class="average-time-detail sf-ui-regular f-13 text-muted">{{item.AverageWaitTime}}m</div>
                        <div class="doctor_text--overlay text-left left-15">
                            <p><span class="f-15 title-doc sf-ui-semibold">{{item.Title}}</span>&nbsp;<span class="white f-15 sf-ui-semibold">{{item.FirstName}}</span></p>
                            <p class="f-15 sf-ui-semibold white">{{item.LastName}}</p>
                            <p class="f-15 sf-ui-regular white">{{item.Price}}</p>
                            <p><span class="f-15 white">{{item.Rating}}</span> &nbsp; <i class="fa fa-star fa-lg margin-top-5 star" aria-hidden="true"></i> &nbsp; <span class="f-10 white margin-right-2">{{item.TotalReview}}</span>
                              <span class="f-10 white" *ngIf="item.TotalReview == 1">Review</span> 
                              <span class="f-10 white" *ngIf="item.TotalReview !== 1">Reviews</span> 
                            </p>
                        </div>
                        </a>
                    </div>
            
                </ng-template>
              </div>
            </div>

        <hr>
        <div ><img (click)="open(content, doctor, doctor.Speciality.toLowerCase().replace(' ', '_') + '/' + doctor.FirstName.toLowerCase().replace(' ', '_') + '_' +  doctor.LastName.toLowerCase().replace(' ', '_') + '/' +  doctor.DoctorID)" class="refer-doctor cursor-pointer" src="assets/images/icons/RecommendArrow.png"></div>
         <p class="padding-top-5 f-13 sf-ui-semibold all-cap">RECOMMEND {{doctor.title}}&nbsp;{{doctor.lastName}} </p> <p class="f-13 sf-ui-regular">TO A FRIEND</p>
    </div>
    <div class="col-md-1 reset-div"></div>
    <div class="col-md-6 text-center d-none d-md-block d-lg-block">   
      <div class="fixed">
          <img class="profile-picture" src="assets/images/icons/Image 01.jpg">
          <div class="profile-picture margin-auto mt-2">
            <div class="left-box mt-1">
              <p class="reset-p f-15 text-left ">
                <span class="bold sf-ui-regular"> {{doctor.Price}} 
                </span> <span class="sf-ui-regular">per visit</span></p>
                <div class="text-left"> 
                    <img *ngIf="doctor.Rating > 0" class="sm-rating-stars" src="assets/images/icons/stars-{{doctor.Rating}}.png" > 
                    <span class="f-12 black sf-ui-regular" > {{doctor.TotalReview}} </span>
                    <span class="f-12 black sf-ui-regular" *ngIf="doctor.TotalReview == 1">Review</span> 
                    <span class="f-12 black sf-ui-regular" *ngIf="doctor.TotalReview !== 1">Reviews</span> 
                </div>
            </div>
            <div class="right-box text-right">
                <button type="button" class="btn book-btn social-btn sf-ui-medium f-14 white">Book</button>
            </div>
          </div>
          <hr class="profile-picture" style="margin-bottom: 0;">
          <div class="profile-picture margin-auto">
              <div class="text-left">
                  <img (click)="resetCopyText('twitter', selectedDoctorUrl)" class="fixed-social-media-icon cursor-pointer" src="assets/images/icons/Tw.png">
                  <img (click)="resetCopyText('fb', selectedDoctorUrl)" class="fixed-social-media-icon-fb cursor-pointer" src="assets/images/icons/Fb.png">
                  <img (click)="resetCopyText('mail', selectedDoctorUrl)" class="fixed-social-media-icon cursor-pointer" src="assets/images/icons/Ml.png">
                  <!-- uncomment this one when the data is available-->
                  <!-- <i class="fa fa-heart fixed-heart"></i>
                  <span class="f-10">&nbsp;133</span> -->
              </div>
              
          </div>
          
      </div>
    </div>
  </div>
</div>
<article class="text-center invalid-status-wrapper" *ngIf="noFoundData" >
    <p class="f-35 no-found sf-ui-semibold">No Doctor Found.</p>
  </article>
  <ng-template #content let-c="close" let-d="dismiss">
    <div class="row margin-top-15">
      <div class="col margin-left-20">
          <p class="bold text-muted sf-ui-regular f-21">Share</p>
          <p class="bold f-12 sf-ui-semibold">{{selectedDoctor}}</p>
      </div>
      <div class="col margin-top-5">
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
              <span aria-hidden="true">&times;</span>
            </button>
      </div>
    </div>
    <div class="modal-body text-center">
      <form>
          <button (click)="resetCopyText('fb', selectedDoctorUrl)" type="button" class="btn btn-outline-secondary social-btn sf-ui-semibold f-14">
              <img class="social-media-icon" src="assets/images/icons/facebook.png" >&nbsp;Facebook</button>
          <button (click)="resetCopyText('whatsapp', selectedDoctorUrl)" type="button" class="btn btn-outline-secondary social-btn sf-ui-semibold f-14"><i class="fa fa-whatsapp whatsapp" aria-hidden="true"></i>&nbsp;Whatsapp</button>
          <button (click)="resetCopyText('twitter', selectedDoctorUrl)" type="button" class="btn btn-outline-secondary social-btn sf-ui-semibold f-14"><i class="fa fa-twitter twitter" aria-hidden="true"></i>&nbsp;Twitter</button>
          <button (click)="resetCopyText('mail', selectedDoctorUrl)" type="button" class="btn btn-outline-secondary social-btn sf-ui-semibold f-14"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email</button>
          <div class="copy">
              <input class="sf-ui-regular f-15 long-value-input" #userinput type="text" value="{{selectedDoctorUrl}}">
              <button (click)="copyInputMessage(userinput)" value="click to copy" class="f-15 sf-ui-semibold" type="button">{{copyText}}</button>
          </div>
          <div *ngIf="socialMessage !== ''" class="alert alert-success" role="alert">
            {{socialMessage}}
          </div>
        </form>
    </div>
  </ng-template>
