<header *ngIf="!hideSearch">
    <div class="search-wrapper d-none d-sm-block">
      <form class="form-inline" (ngSubmit)="onEnter($event, search.value)">
          <i (click)="goBack()" class="fa fa-circle-o fa-lg margin-top-5 bold cursor-pointer" aria-hidden="true"></i>
          <div id="search">
              <label for="search-input">
                  <i *ngIf="search.value === ''" class="fa fa-search"></i>
                  <i (click)="clearSearch()" *ngIf="search.value !== ''" class="fa fa-chevron-left cursor-pointer"></i>
                  <span class="sr-only">Search icons</span></label>
              <input [(ngModel)]="global.keyword" name="keyword" id="search-input"  class="form-control search" #search placeholder="Search" autocomplete="off"  autocorrect="off" tabindex="1">
          </div>
      </form>
    </div>

    <div class="modal fade"  id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" modal-lg>
        
          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <button class="close" type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Enter your promo code</h4>
            </div>
           
            <div class="modal-body">
             <input type="text"placeholder="">&nbsp;&nbsp;&nbsp;<input  class="btn btn-primary"  type="submit" value="Submit">
            </div>
            <div class="modal-footer">
              <button class="btn btn-danger" data-dismiss="modal" id="btnHideModal">Close</button>
            </div>
          </div>
          
        </div>
      </div>

    <!--
    <div class="search-wrapper d-block d-sm-none d-md-none d-lg-none">
    <form class="text-center" (ngSubmit)="onEnter($event, search.value)">
        <i (click)="goBack()" class="fa fa-circle-o fa-lg margin-top-5 margin-botton-15 bold cursor-pointer" aria-hidden="true"></i>
        <div id="search">
            <label for="search-input">
                <i *ngIf="search.value === ''" class="fa fa-search"></i>
                <i (click)="clearSearch()" *ngIf="search.value !== ''" class="fa fa-chevron-left cursor-pointer"></i>
                <span class="sr-only">Search icons</span></label>
            <input [(ngModel)]="global.keyword" name="keyword" id="search-input" class="form-control search" #search placeholder="Search" autocomplete="off"  autocorrect="off" tabindex="1">
        </div>
    </form>
    </div>
    -->
  </header>