@media (max-width: 575.98px) {
    .search-wrapper {
        margin-left: 0;
        padding: 0 15px;
        margin-top: 20px;
        margin-bottom: 15px;
    }

    #search {
        position: relative;
        font-size: 18px;
        margin-left: 0;
        margin-top: 5px;
    }

    header {
        background-color: #fff;
        min-height: 90px;
        margin-top: 20px;
    }

    #search label {
        position: absolute;
        left: 15px;
        top: 5px;
    }

    header {
        position: fixed;
        z-index: 999999;
        width: 100%;
        top: 0;
        margin: 0;
    }
 }
