/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: SF-UI-Semibold;
    src: url("assets/fonts/sf-ui/SF-UI/SF-UI-Display-Semibold.otf") format("opentype");
}

@font-face {
    font-family: SF-UI-Regular;
    src: url("assets/fonts/sf-ui/SF-UI/SF-UI-Display-Regular.otf") format("opentype");
}

@font-face {
    font-family: SF-UI-Medium;
    src: url("assets/fonts/sf-ui/SF-UI/SF-UI-Display-Medium.otf") format("opentype");
}

@font-face {
    font-family: SF-UI-Light;
    src: url("assets/fonts/sf-ui/SF-UI/SF-UI-Display-Light.otf") format("opentype");
}

body {
    touch-action: auto;
}

a, p {
    margin: 0;
    padding: 0;
}
.main-wrapper {
    margin: 0;
    padding: 0;
}

.position-relative {
    position: relative;
}

header {
    background-color:#f8f8f8;
    min-height: 50px;
}

#search {
    position: relative;
    font-size: 18px;
    margin-left: 15px;
    margin-top: 5px;
}

#search label {
    position: absolute;
    left: 15px;
    top: 10px;
}

#search #search-input, #search .hint {
    padding-left: 43px;
    padding-right: 43px;
}

.search-wrapper {
    margin-left: 30px;
}

.margin-top-5 {
    margin-top: 5px;
}

.sf-ui-semibold {
    font-family: SF-UI-Semibold;
}

.sf-ui-regular {
    font-family: SF-UI-Regular;
}

.sf-ui-medium {
    font-family: SF-UI-Medium;
}

.sf-ui-light {
    font-family: SF-UI-Light;
}

.margin-top-80 { 
    margin-top: 80px;
}

.f-10 {
    font-size: 10px;
}

.f-11{
    font-size: 11px;
}

.f-12 {
    font-size: 12px;
}

.f-13 {
    font-size: 13px;
}

.f-14 {
    font-size: 14px;
}

.f-15 {
    font-size: 15px;
}


.f-16 {
    font-size: 16px;
}

.f-17 {
    font-size: 17px;
}

.f-19 {
    font-size: 19px;
}

.f-20 {
    font-size: 20px;
}

.f-21 {
    font-size: 21px;
}

.f-26 {
    font-size: 26px;
}

.f-27 {
    font-size: 27px;
}

.f-35 {
    font-size: 35px;
}

.f-37 {
    font-size: 37px;
}

.f-40 {
    font-size: 40px !important;
}

.f-45 {
    font-size: 45px
}

.f-50 {
    font-size: 50px;
}

.padding-top-5 {
    padding-top: 5px;
}

.margin-left-15 {
    margin-left: 15px;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

.width-20 {
    width: 20px;
}

.margin-botton-15 {
    margin-bottom: 15px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-top-20 {
    margin-top: 20px;
}

.margin-left-20 {
    margin-left: 20px;
}

.black {
    color: #000;
}

.white {
    color: #fff;
}

.whatsapp {
    color: #00e676;
}

.twitter {
    color: #1da1f2
}


.title-doc {
    color: #c8deff;
}

.view-all {
    color: #007Aff !important;
    cursor: pointer;
}

.bold {
    font-weight: bold !important;
}

.search::-webkit-input-placeholder {
    color: #838393;
    opacity: 1; /* Firefox */
    font-family: 'SF-UI-Regular';
 }
 
 .search:-moz-placeholder { /* Firefox 18- */
    color: #838393;
    opacity: 1; /* Firefox */
    font-family: 'SF-UI-Regular';
 }
 
 .search::-moz-placeholder {  /* Firefox 19+ */
    color: #838393;
    opacity: 1; /* Firefox */
    font-family: 'SF-UI-Regular';
 }
 
 .search:-ms-input-placeholder {  
    color: #838393;
    opacity: 1; /* Firefox */
    font-family: 'SF-UI-Regular';
 }

 .explore {
    margin-top: 30px;
}

.explore__box {
    margin-right: 35px;
    position: relative;
}

.explore__text--overlay {
    position: absolute;
    top: 95px;
    left: 33px;
}

.doctors {
    margin-top: 30px;
}

.doctors__box {
    text-align: center;
    position: relative;
    margin-top: 10px;
    margin-right: 22px; /* padding between the box */
}

footer {
    margin: 30px 0;
}

img {
    border-radius: 10px;
}

.star {
    color: #ff9600;
}

.doctor_text--overlay {
    position: absolute;
    top: 130px;
    left: 10px;
}

.average-time {
    position: absolute;
    top: 15px;
    left: 137px;
    background-color: #f8f8f8;
    padding: 5px 10px;
    border-radius: 10px;
}

.average-time-detail {
    position: absolute;
    top: 15px;
    left: 135px;
    background-color: #f8f8f8;
    padding: 5px 10px;
    border-radius: 10px;
}


.arrow-up {
    position: absolute;
    top: 180px;
    left: 150px;
    background-color: #0076ff;
    border-radius: 20px;
    padding: 5px 8px;
    color: #fff;
    cursor: pointer;
}

.no-found {
    color: #6b6b6b;
    margin-top: 120px;
}

.cursor-pointer {
    cursor: pointer;
}

.text-muted {
    font-weight: normal;
}

.margin-right-2 {
    margin-right: 2px;
}

.social-btn {
    width: 110px;
    margin-right: 5px;
}

.copy input {
    padding: 10px 90px 10px 10px;
}

.copy {
    position: relative;
    width: 100%;
  }
  .copy input {
    display: block;
    width: 99%;
    border: 3px solid;
    outline: 0;
    background: #f8f8f8;
    border: 1px solid transparent;
    border-radius: .25rem;
  }
  .copy button {
    display: block;
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    border: 0;
    outline: 0;
    color: #000;
    background: #fff;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: .25rem;
    padding: 5px 10px;
    min-width: 90px;
  }

  .copy {
      margin-top: 10px;
  }
  
  .btn-outline-secondary:hover {
    color: #fff;
    background-color: #0076ff;
    border-color: #0076ff;
}

.modal {
    text-align: center;
    padding: 0!important;
  }
  
  .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
  }
  
  .modal-dialog {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
  }

.social-media-icon {
    width: 11px;
}

.long-value-input, .long-value-input:focus {
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
  }

.hidden {
    display: none !important;
}

.controls {
    width: 107% !important;
    left: -37px !important;
}

.ng2-carouselamos-wrapper {
    width: 100% !important;
}

.items {
    margin: 0 10px;
    position: relative;
}


.width-30 {
    width: 30px;
}

#container-detail .controls {
    width: 113% !important;
    left: -25px !important;
}

.controls button {
    outline: none !important;
    cursor: pointer;
    z-index: 99999;
}

.controls-default {
    display: none;
}

.reset-div {
    padding: 0;
    margin: 0;
    z-index: -1;
}

button.close {
    margin-right: 20px;
}

@media (max-width: 575.98px) {
    .social-btn {
        width: 48%;
        margin-top: 5px;
    }
    #container-detail .controls {
        width: 100% !important;
    }
    .container-wrapper {
        margin-top: 130px;
    }
 }
 
 .p-reset {
     margin: 0 !important;
 }

 .all-caps {
    text-transform: uppercase;
 }